<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">


		<classes>
			<class name="StripeAPIs.CreateCustomer" />
			<class name="StripeAPIs.RetreiveCustomer" />
			<class name="StripeAPIs.UpdateCustomer" />
			<class name="StripeAPIs.DeleteCustomer" />

		</classes>

	</test> <!--
	Test -->
</suite> <!--
Suite -->
